@model McMerchants.Models.ItemViewModel

@{
    Layout = "_Layout";
}
<div id="top-bar">
    <input type="text" id="search" placeholder="🔍 What are you looking for ?"/>
</div>


@if (Model == null)
{
    <div id="details">
        <p>Search an item to start.</p>
    </div>
} 
else
{
    <div id="details">
        <h1>@Model.Item.Name</h1>
        <h2>Stocks</h2>

        <template id="stock">
            <li>
                <img class="storeLogo" src="~/img/stores/" />
                <div>
                    <h3 class="storeName"></h3>
                    <span class="itemCount"></span> @Model.Item.Name
                    <div class="repartition">
                        (<span class="stackCount"></span> stacks, <span class="remainderCount"></span> items)
                    </div>
                </div>
            </li>
        </template>

        <ul id="stocks" data-itemid="@Model.Item.Id" data-stacksize="@Model.Item.StackSize">

        </ul>

        <div id="status">
            <img id="spinner" src="~/img/spinner.gif" alt="Loading..." />
            <span id="alert">💣</span>
        </div>
    </div>

    <script type="text/javascript" src="~/js/stock.js"></script>

    <script type="text/javascript">
        document.onreadystatechange = () => {
            if (document.readyState === "complete") {
                queryStock();
            }
        };
    </script>
}

<script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
        integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0="
        crossorigin="anonymous"></script>

<script type="text/javascript">
    $( "#search" ).autocomplete({
      source: "/api/items",
      minLength: 3,
      select: function( event, ui ) {
        window.location.href = `/Item/Details/${ui.item.value}`;
      }
    });
</script>
            