@model McMerchants.Models.ItemViewModel

@{
    Layout = "_Layout";
}

@if (Model == null)
{
    <div id="details">
        <p>Search an item to start.</p>
    </div>
} 
else
{
    <template id="stock">
        <li class="store">
            <img class="storeLogo" src="~/img/stores/" />
            <div>
                <h3 class="storeName"></h3>
                <span class="itemCount"></span> @Model.Item.Name
                <div class="repartition"></div>
                <div class="mainAlley alleys">
                    <h4></h4>
                    <ul></ul>
                </div>
                <div class="otherAlleys alleys">
                    <h4></h4>
                    <ul></ul>
                </div>
                <div class="bulk details closed">
                    <table>
                        <thead>
                            <tr>
                                <th>Quantity</th>
                                <th>X</th>
                                <th>Y</th>
                                <th>Z</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </li>
    </template>
    <template id="trade">
        <li class="store">
            <img class="storeLogo" src="~/img/stores/" />
            <div>
                <h3 class="storeName">
                    <span></span>
                    <a>See store page</a>
                </h3>
                <button class="trades-toggle"><span class="itemCount"></span> trades <span class="icon"></span></button>
                <div class="trade details closed">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="2">Buys</th>
                                <th>Sells</th>
                                <th>Trader</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </li>
    </template>
    <template id="trade-component">
        <div>
            <div class="sprite"></div>
            <div class="text"></div>
        </div>
        <div class="details"></div>
    </template>

    <div id="alert-banner" class="hidden">
        Some chunks could not be read. The results displayed on this page might be incomplete.
    </div>

    <div id="details" data-itemid="@Model.Item.Id" data-stacksize="@Model.Item.StackSize">
        <h1>@Model.Item.Name</h1>

        <h2 class="accordion-header"><button type="button"></button> Stores</h2>
        <ul id="store-stocks" class="accordion-content stocks-list">
        </ul>

        <h2 class="accordion-header"><button type="button"></button> Factories</h2>
        <ul id="factory-stocks" class="accordion-content stocks-list">
        </ul>

        <h2 class="accordion-header"><button type="button"></button> Traders</h2>
        <ul id="trading-stocks" class="accordion-content stocks-list">
        </ul>

        <img id="spinner" src="~/img/spinner.gif" alt="Loading..." />
    </div>

    <script type="text/javascript" src="~/js/stock.js" asp-append-version="true"></script>

    <script type="text/javascript">
        document.addEventListener('readystatechange', () => {
            if (document.readyState === "complete") {
                queryStock();
            }
        });
    </script>
}
