html {
  font-size: 16px;
  font-family: sans-serif;
}

.trades td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.trades ul {
    margin: 0;
    text-align: left;
    font-style: italic;
}

#status {
    width: 64px;
    height: 64px;
}

#spinner {
    display: none;
}

#alert {
    font-size: 48px;
    display: none;
}

#stocks li {
    padding: 10px 0;
}

#stocks h3 {
    margin: 0 0 5px 0;
}