/* Theming */
:root {
    /* Environment */
    --environmentName: "";
    --environmentColor: transparent;
    --environmentPadding: 0;
    --environmentFontStyle: none;
    /* BG/FG / Common */
    --background-color: #FFF;
    --menu-background-color: #EEE;
    --text-color: #000;
    --searchbar-background-color: #FFF;
    --link-color: blue;
    --visited-link-color: purple;
    --alert-banner-background-color: palevioletred;
    --info-banner-background-color: cornflowerblue;
    /* Round buttons */
    --netherrack: #a75353;
    --lava: #db8128;
    --stone: #8f8f8f;
    --button-shadow-color: #666;
    /* Stock */
    --stock-mainAlley-badge-background-color: #2fc2c5;
    --stock-mainAlley-empty-badge-background-color: #a75353;
    --stock-otherAlley-badge-background-color: #fc6303;
    --stock-bulk-badge-background-color: #8f8f8f;
    /* BOM */
    --bom-workzone-color: darkorange;
    --bom-available-color: rgb(0, 110, 0);
    --bom-producedat-color: rgb(36, 49, 255);
    --bom-missing-color: rgb(250, 31, 31);
}

[data-theme="dark"] {
    /* BG/FG / Common */
    --background-color: #36393F;
    --menu-background-color: #46494F;
    --text-color: #EEE;
    --searchbar-background-color: #151515;
    --alert-banner-background-color: darkred;
    --info-banner-background-color: mediumblue;
    --link-color: cornflowerblue;
    --visited-link-color: mediumpurple;
    /* Round buttons */
    --button-shadow-color: #BBB;
    /* BOM */
    --bom-workzone-color: orange;
    --bom-available-color: rgb(0, 163, 0);
    --bom-producedat-color: rgb(136, 149, 255);
    --bom-missing-color: rgb(205, 107, 107);
}

[data-env="Development"] {
    --environmentName: "Development";
    --environmentColor: cornflowerblue;
    --environmentPadding: 10px;
    --environmentFontStyle: italic;
}
[data-env="Test"] {
    --environmentName: "Test";
    --environmentColor: gold;
    --environmentPadding: 10px;
    --environmentFontStyle: italic;
}

/* Main */
html {
    font-size: 16px;
    font-family: sans-serif;
    display: flex;
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

header, content, footer {
    padding: 1em;
}

main {
    display: flex;
    height: 100%;
}

a {
    color: var(--link-color);
}
a:visited {
    color: var(--visited-link-color);
}

.round-button {
    background: none;
    margin: 0 15px;
    border-width: 0px;
    border-style: solid;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    background-color: var(--stone);
    box-shadow: 1px 1px 5px var(--button-shadow-color);
    border-color: var(--text-color);

    svg {
        margin: auto;
        width: 2em;
        height: 2em;
        stroke: var(--text-color);
    }
}

/* Header */
#top-bar {
    border-bottom: 1px solid lightgray;
    display: flex;
    background-color: var(--environmentColor);
    color: black;
}
#top-bar::before {
    content: var(--environmentName);
    padding-right: var(--environmentPadding);
    font-style: var(--environmentFontStyle);
}

#search {
    margin: auto;
    width: 100%;
    height: 1.5em;
    background-color: var(--searchbar-background-color);
    color: var(--text-color);
}

.ui-autocomplete {
    background-color: var(--searchbar-background-color);
    color: var(--text-color);
}

#alert-banner {
    text-align: center;
    background-color: var(--alert-banner-background-color);
}
#info-banner {
    text-align: center;
    background-color: var(--info-banner-background-color);
}

/* Nav */
nav {
    display: none;
    background-color: var(--menu-background-color);
    padding: 10px;

    h1 {
        text-transform: capitalize;
        font-size: small;
        color: var(--button-shadow-color);
    }

    ul {
        margin: 0;
        list-style-type: none;
        padding-inline-start: 0;
    }

    a {
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 15px;
        border-width: 0px;
        background: none;
        color: var(--text-color);
        font-size: 16px;
        text-decoration: none;
    }

    a:visited {
        color: var(--text-color);
    }

    button:hover {
        color: var(--lava);
        cursor: pointer;
    }

    a svg {
        margin: auto 10px auto 0;
        width: 2em;
        height: 2em;
    }
}

body.menu-opened nav {
    display: block;
}

@media (max-width: 960px) {
    header .round-button {
        margin: 0 5px;
    }

    nav {
        width: 100%;
    }

    body.menu-opened content {
        display: none;
    }

    nav ul {
        display: flex;
        font-size: large;
        flex-wrap: wrap;
    }

    nav li {
        flex-wrap: wrap;
        width: 100%;
    }

    nav a {
        justify-content: center;
        text-align: center;
        height: 100%;
    }

    main.menu-opened nav a svg {
        margin: 0 0 10px 0;
    }
}

/* Content */
content {
    flex-grow: 1;
}
#details h1 {
    margin-top: 0;
}

.repartition {
    font-size: 12px;
    font-style: italic;
}

/* Accordions */
.accordion-header button {
    background-color: transparent;
    color: var(--text-color);
    border: 0;
}

.accordion-header button:focus {
    border: 2px dashed var(--text-color);
}

.accordion-content.closed {
    display: none;
    overflow: hidden;
}

/* Trades */
.trades td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;

    > div {
        display: flex;
    }

    .sprite {
        margin-right: 5px;
    }
}

.trades ul {
    margin: 0;
    text-align: left;
    font-style: italic;
}

/* Stocks */
#spinner {
    display: none;
    width: 64px;
    height: 64px;
}

.stocks-list li {
    padding: 10px 0;
    display: flex;

    > img {
        margin-right: 10px;
        max-height: 45px;
    }
}

.stocks-list h3 {
    margin: 0 0 5px 0;
}

.stocks-list .alleys {
    display: flex;

    h4 {
        font-size: 14px;
        margin: auto 0;
        margin-right: 5px;
    }

    ul {
        display: flex;
        padding-inline-start: 0;
        margin-top: 5px;

        li {
            color: white;
            padding: 5px;
            border-radius: 20px;
            font-weight: bold;
            margin-right: 5px;
        }
    }
}

.stocks-list .mainAlley ul li {
    background-color: var(--stock-mainAlley-badge-background-color);
}

.stocks-list .otherAlleys ul li {
    background-color: var(--stock-otherAlley-badge-background-color);
}

.stocks-list .mainAlley ul li.empty {
    background-color: var(--stock-mainAlley-empty-badge-background-color);
    text-decoration: line-through;
}

.stocks-list .otherAlleys ul li.bulk {
    background-color: var(--stock-bulk-badge-background-color);
}

.stocks-list .otherAlleys ul li.bulk::before,
.stocks-list .otherAlleys ul li.bulk::after {
    content: '\a0';
}

.stocks-list button {
    background: transparent;
    border: none;
    color: white;
    font-weight: bold;
}

.stocks-list .details.closed {
    display: none;
}

.stocks-list .details table {
    border-collapse: collapse;
    margin: 10px;
    border: 1px solid var(--text-color);

    thead {
        text-align: center;
        border-bottom: 2px solid var(--text-color);
    }

    th, td {
        padding: 5px;
    }

    td {
        border-top: 1px solid var(--text-color);
    }
}

.stocks-list .trade.details table {
    tr > td:last-of-type {
        text-align: right;
        padding-left: 30px;
    }

    td > div {
        display: flex;

        .sprite {
            margin-right: 5px;
        }
    }
}

.stocks-list button.trades-toggle {
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
    margin-right: 5px;
    background-color: var(--stock-bulk-badge-background-color);
}

.stocks-list button.trades-toggle.empty {
    background-color: transparent;
    font-size: 16px;
    padding: 0;
    font-weight: normal;
    color: var(--text-color);
}

.identity a {
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
}

.identity a + a:before {
    content: " | ";
    color: var(--text-color);
}

/* BOM */
.bom-import-page {
    display: flex;
    flex-direction: column;
    height: 100%;

    > form, div {
        margin: 0 auto;
    }

    > #spinner {
        margin: auto;
    }

    #form {
        max-width: 500px;

        > .hidden {
            display: none;
        }

        > div {
            display: flex;
            margin-bottom: 1em;

            label {
                margin-right: 0.5em;
            }

            input {
                flex-grow: 1;
            }
        }

        #import-button {
            max-width: 100px;
            height: 2em;
            margin: auto;
        }
    }

    #results {
        #bom-name, #rejected-lines-count {
            font-weight: bold;
        }

        #rejected-lines {
            li {
                margin-bottom: 1em;
            }
            p {
                padding-left: 0.5em;
                margin: 0;
            }
            p::before {
                content: '➡ ';
                white-space: normal;
            }
        }

        #actions {
            display: flex;
            flex-direction: column;
            margin-top: 2em;
            list-style-type: none;
            padding-inline-start: 0;

            button {
                height: 2em;
            }
        }
    }
}
.bom-details-page {
    display: flex;
    flex-direction: column;
    height: 100%;

    > .hidden {
        display: none;
    }

    > #spinner {
        margin: auto;
    }

    .toolbar a {
        cursor: pointer;
    }

    .toolbar > *:not(.hidden) + *:before {
        content: " | ";
        color: var(--text-color);
    }

    #bom-items > li {
        margin-bottom: 0.75em;
    }

    #bom-items.hide-complete li[data-status="complete"],
    #bom-items.hide-stored li[data-status="available"] {
        display: none;
    }
}

/* at the end so it takes precedence on other stuff */
.hidden {
    display: none;
}