/* Theming */
:root {
    --background-color: #FFF;
    --text-color: #000;
    --searchbar-background-color: #FFF;
}

[data-theme="dark"] {
    --background-color: #36393F;
    --text-color: #EEE;
    --searchbar-background-color: #151515;
}

/* Main */
html {
  font-size: 16px;
  font-family: sans-serif;
  display: flex;
  background-color: var(--background-color);
  color: var(--text-color);
}

body {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

body > div {
    padding: 1em;
}

#top-bar {
    border-bottom: 1px solid lightgray;
    display: flex;
}

#search {
    margin: auto;
    width: 100%;
    height: 1.5em;
    background-color: var(--searchbar-background-color);
    color: var(--text-color);
}

.ui-autocomplete {
    background-color: var(--searchbar-background-color);
    color: var(--text-color);
}

#details h1 {
    margin-top: 0;
}

.hidden {
    display: none;
}

#buttons {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: right;
}

/* Accordions */
.accordion-header button {
    background-color: transparent;
    color: var(--text-color);
    border: 0;
}
.accordion-header button:focus {
    border: 2px dashed var(--text-color);
}
.accordion-content.closed {
    display: none;
    overflow: hidden;
}

/* Trades */
.trades td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.trades ul {
    margin: 0;
    text-align: left;
    font-style: italic;
}

/* Stocks */
#spinner {
    display: none;
    width: 64px;
    height: 64px;
}

#alert {
    display: none;
}

#alert .icon {
    font-size: 48px;
}

#alert .stamp {
    color: darkred;
    font-family: cursive;
}

.stocks-list li {
    padding: 10px 0;
    display: flex;
}

.stocks-list li > img {
    margin-right: 10px;
    max-height: 45px;
}

.stocks-list h3 {
    margin: 0 0 5px 0;
}

.stocks-list .repartition {
    font-size: 12px;
    font-style: italic;
}

.stocks-list .alleys {
    display: flex;
}

.stocks-list .alleys h4 {
    font-size: 14px;
    margin: auto 0;
    margin-right: 5px;
}

.stocks-list .alleys ul {
    display: flex;
    padding-inline-start: 0;
    margin-top: 5px;
}

.stocks-list .alleys ul li {
    background-color: #fc6303;
    color: white;
    padding: 5px;
    border-radius: 20px;
    font-weight: bold;
    margin-right: 5px;
}