@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model McMerchants.Models.ShopModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Trades</title>
</head>
<body>

    <div>
        <h1>Shop</h1>
        <!--Zone: @Html.DisplayFor(x => Model.Shop.Start) to @Html.DisplayFor(x => Model.Shop.End) -->
        <h1>Trades</h1>
        @foreach (var jobGroup in Model.Villagers)
        {
            <h2>@Localizer[jobGroup.Key] (@Html.DisplayFor(modelItem => jobGroup.Value.Count))</h2>
            <table class="trades">
                @{
                    foreach (var villager in jobGroup.Value)
                    {
                        foreach (var trade in villager.Trades)
                        {
                                <tr>
                                    <td>
                                        @await Html.PartialAsync("./TradeComponent", trade.Buy1)
                                    </td>
                                    <td>
                                    @{
                                        if (trade.Buy2 != null)
                                        {
                                            await Html.RenderPartialAsync("./TradeComponent", trade.Buy2);
                                        }
                                    }
                                    </td>
                                    <td>►</td>
                                    <td>
                                        @await Html.PartialAsync("./TradeComponent", trade.Sell)
                                    </td>
                                </tr>
                        }
                    }
                }
            </table>
        }
    </div>
</body>
</html>
