@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model McMerchants.Models.ShopViewModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>McMerchants</title>
</head>
<body style="display: flex;">
    <div style="margin: auto;">
        <h1>Nothing to see here.</h1>
        <p>You might be lost. This place is empty.</p>
    </div>
</body>
</html>
