@{
	Layout = "_Layout";
}

@model McMerchants.Models.BomDetailsViewModel

<template id="bom-entry-template">
	<link rel="stylesheet" href="~/components/BomEntry/BomEntry.css"/>
	<div class="info">
		<span class="item-count"></span>
		<span class="item-name"></span>
		<span class="repartition"></span>
	</div>

	<ul class="stocks">
		<li class="workzone hidden"><span class="count"></span> in your workzone</li>
		<li class="missing"><span class="count"></span> missing<span class="repartition"></span></li>
	</ul>
</template>

<template id="bom-avail-stored">
	<li class="stored"><span class="count"></span> at <span class="location"></span></li>
</template>

<template id="bom-avail-produced">
	<li class="produced_at">Produced or traded at <span class="location"></span></li>
</template>

<div class="bom-details-page">
	<img id="spinner" src="~/img/spinner.gif" alt="Loading..."/>
	
	<div id="details" class="hidden">
		<h1>BOM for @Model.Bom.Name</h1>
		<div class="toolbar">
			<a class="hidden">Rename</a>
			<a class="hidden">Delete</a>
			<button id="compute">Help me find items</button>
		</div>
		<h2>Contents</h2>
		<ul id="bom-items">
		</ul>
	</div>
</div>

<script src="~/components/BomEntry/BomEntry.js"></script>
<script src="~/js/bom.js"></script>
<script>
	document.addEventListener('readystatechange', () => {
		if (document.readyState === "complete") {
			const bomId = @(Model.Bom.Id);
			const workzoneTutorialEnabled = @(Model.ShowWorkzoneTutorial ? "true" : "false");
			const workzone = getWorkzoneQueryParams();

			document.getElementById('compute').addEventListener('click', () => {
				computeAvailabilities(bomId, workzone);
			});

			if (workzone === null) {
				if(workzoneTutorialEnabled) { 
					showWorkzoneTutorial(bomId); 
				}
				loadBomItems(bomId);
			} else {
				computeAvailabilities(bomId, workzone);
			}
		}
	});
</script>