@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env

<!DOCTYPE html>
<html lang="en" data-env="@env.EnvironmentName">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>McMerchants</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="top-bar">
        <input type="text" id="search" placeholder="🔍 What are you looking for ?" />
    </div>
    @RenderBody()
    <div id="buttons">
        <label for="light-switch">🌗 Change theme</label>
        <input type="checkbox" name="light-switch" />
    </div>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
            integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0="
            crossorigin="anonymous"></script>

    <script type="text/javascript" src="~/js/themes.js"></script>
    <script type="text/javascript" src="~/js/accordion.js"></script>
    <script type="text/javascript">
        document.addEventListener('readystatechange', () => {
            if (document.readyState === "complete") {
                initAccordions();

                $("#search").autocomplete({
                    source: "/api/items",
                    minLength: 3,
                    select: function (event, ui) {
                        window.location.href = `/Item/Details/${ui.item.value}`;
                    }
                });
            }
        });
    </script>
</body>
</html>
