<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>McMerchants</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @RenderBody()
    <div id="buttons">
        <label for="light-switch">🌗</label>
        <input type="checkbox" name="light-switch" />
    </div>
    <script type="text/javascript" src="~/js/main.js"></script>
</body>
</html>
