{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*",
  "MapPaths": {
    "overworld": "/path/to/the/directory/that/contains/region/and/entities/folders",
    "nether": "",
    "end": "",
    "custom_map_name": ""
  },
  "TextureAtlasPaths": {
    "Atlas": "/path/to/minecraft_textures_atlas_blocks.png_0.png",
    "Descriptor": "/path/to/minecraft_textures_atlas_blocks.png.txt"
  },
  "ConnectionStrings": {
    "NbtDatabase": "Filename=/path/to/nbt.db",
    "McMerchantsDatabase": "Filename=/path/to/mcmerchants.db"
  },
  "Options": {
    "WebmapUrlPattern": "url_to_your_map_site/with_these_placeholders/{DIMENSION}{X}{Y}{Z}",
    "WebmapLinkTitle": "See on map",
    "CustomLinkTitle": "Wiki"
  }
}
