{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*",
  "MapPaths": {
    "Entities": "/path/to/your/world/entities",
    "Regions":  "/path/to/your/world/region"
  }
}
