@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model McMerchants.Models.TradingZoneViewModel

@{
    Layout = "_Layout";
}

<div style="display: flex;">
    <div style="margin: auto;">
        <h1>Nothing to see here.</h1>
        <p>You might be lost. This place is empty.</p>
    </div>
</div>
